*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0;
}
img{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.img-text{
    position: absolute;
    top: 40%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 33.33333333%;
    padding:30px 0 30px 0 ;
    text-align: center;
}
.text{
    color: rgb(255, 255, 255);
    opacity: 1;
    font-size: xx-large;
}
.formside{
    display: grid;
    grid-template-rows: 2fr 4fr 2fr;
}
.information, p{
    margin: auto;
    line-height: 1.3rem;
    text-align: center;  
}
form{
    background-color: rgb(247, 244, 239);
    padding-left: 10px;
}
.fields{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.fields, button, legend{
    margin: 0 35px 0px 20px;
}
legend{
    font-size: x-large;
    margin: 20px 10px 20px 20px;
}
label{
    display: block;
}
button{
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: rgb(11, 78, 11);
    color: white;
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}
input{
    border: solid rgb(238, 236, 236) ;
    border-radius: 5px;
    height: 20px;
}
p{
    margin-top: 40px;
}
span{
    text-decoration: underline;
    color: rgb(11, 78, 11);
}
input:focus{
    outline: none !important;
    border:2px solid lightblue;
}
input:invalid{
    border: 2px solid red;
}
input:valid{
    border: 2px solid green;
}